const rinChan = require('./rinChan/rinChan.js');

module.exports = {
  triggerWords: [
    {
      test: function (message) {
        return (
          message.includes('orange') && !this.regex.test(message) && rinChan.getHunger() > rinChan.getMaxHunger() - 2
        );
      },
      regex: /<:\w*orange\w*:[0-9]+>/gi,
      response: 'Who said orange?! Gimme!',
    },
    {
      test: function (message) {
        return message.includes('🍊') && rinChan.getMaxHunger() - 2 > 3;
      },
      response: `That's my orange! Gimme!`,
    },
    {
      test: function (message) {
        if (
          (this.active && message.toLowerCase().includes('good night')) ||
          (this.active && message.toLowerCase().includes('goodnight'))
        ) {
          this.active = false;
          setTimeout(function () {
            module.exports.triggerWords[2].active = true;
          }, 6000000);
          return true;
        }
      },
      response: `Good night, sleep well!`,
      active: true,
    },
  ],
  token: '',
  randomkey: '',

  levels: [
    {name: 'Mandarin', role: '743539341808369685', xp: 3000},
    {name: 'Tangerine', role: '743539318185918485', xp: 2000},
    {name: 'Mikan', role: '743539296191119490', xp: 1500},
    {name: 'Satsuma', role: '743539267644424252', xp: 1000},
    {name: 'Valencia Orange', role: '743539241941860412', xp: 600},
    {name: 'Blood Orange', role: '743539212292456608', xp: 400},
    {name: 'Navel Orange', role: '743539184270311445', xp: 200},
    {name: 'Clementine', role: '743539160664637480', xp: 90},
    {name: 'Seville Orange', role: '743539133296803851', xp: 30},
    {name: 'Orange peel', role: '743539092108738560', xp: 10},
    {name: 'Seedling', role: '588677338007601163', xp: 0},
  ],

  mutedRole: '620609193228894208',
  botChannel: '590205616581115918',
};
