<html>

<head>
  <meta charset="UTF-8">
  <style>
    body {
      background-color: #2b2d31;
      color: #d9dadb;
      width: 400px;
      font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 20px;
    }

    table {
      width: 100%;
      padding: 5px;
      text-align: center;
    }

    th {
      font-size: 24px;
    }

    img {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  </style>
</head>

<body>
  <table>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>{{itemPlural}}</th>
    </tr>

    {{#each users as |user|}}
    {{#> childEntry}}
    <tr>
      <td>{{user.index}}</td>
      <td>
        <div style="color:{{user.displayHex}}">
          <img src="{{user.avatarUrl}}" /> {{user.displayName}}
        </div>
      </td>
      <td>{{user.quantity}}</td>
    </tr>
    {{/childEntry}}
    {{/each}}

  </table>
</body>

</html>